.character-image {
    width: 50px;
    height: 80px;
    margin: 0 auto;
}

.player-shifter {
    width: 50px;
    height: 92px;
    position: relative;
}

#player-attack {
    width: 100%;
    height: 34px;
}

#player-block {
    width: 100%;
    height: 53px;
}

.character-image-knight {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: 0px 0px; 
}

.character-image-assassin {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -50px 0px; 
}

.character-image-sorcerer {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -100px 0px; 
}

.character-image-herald {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -150px 0px; 
}

.character-image-random {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -200px 0px; 
}