.enemy-image {
    width: 50px;
    height: 80px;
    margin: 0 auto;
}



.enemy-image-skeleton {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -250px 0px; 
}

.enemy-image-novice-knight {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -300px 0px; 
}

.enemy-image-novice-rogue {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -350px 0px; 
}

.enemy-image-novice-mage {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -400px 0px; 
}

.enemy-image-novice-zealot {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -450px 0px; 
}

.enemy-image-slime {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -500px 0px; 
}

.enemy-image-hollow {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -550px 0px; 
}

.enemy-image-goblin {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -600px 0px; 
}



.enemy-image-skeletal-knight {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -650px 0px; 
}

.enemy-image-undead-mage {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -700px 0px; 
}

.enemy-image-hollow-knight {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -750px 0px; 
}

.enemy-image-ghost {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -800px 0px; 
}

.enemy-image-demonic-tree {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -850px 0px; 
}

.enemy-image-drowned-warrior {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -900px 0px; 
}

.enemy-image-orc {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -950px 0px; 
}

.enemy-image-shield-mage {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1000px 0px; 
}

.enemy-image-attack-mage {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1050px 0px; 
}

.enemy-image-healing-mage {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1100px 0px; 
}



.enemy-image-unseen-horror {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1150px 0px;
}

.enemy-image-necrotic-mass {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1200px 0px;
}

.enemy-image-forgotten-soul {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1250px 0px;
}

.enemy-image-drake {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1300px 0px;
}

.enemy-image-unspoken {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1350px 0px;
}

.enemy-image-capra-demon {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1400px 0px;
}

.enemy-image-missingno {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1450px 0px;
}

.enemy-image-horror {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1500px 0px;
}

.enemy-image-yeti {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1950px 0px;
}


.enemy-image-gravelord-follower {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1550px 0px;
}



.enemy-image-blessed-lord {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1600px 0px;
}

.enemy-image-pardonner-lavender {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1650px 0px;
}

.enemy-image-gravelord {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1700px 0px;
}


.enemy-image-voice-infinite {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1750px 0px;
}

.enemy-image-threads-fate {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1800px 0px;
}

.enemy-image-dragonslayer {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1850px 0px;
}

.enemy-image-royal-wizard {
    background-image: url('../assets/enemies/character-strip.png');
    background-position: -1900px 0px;
}



